html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P';
}

.App {
  text-align: center;
}

.k-dateinput-wrap .k-input {
  border: 0;
}

.pagination {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.pagination a {
  color: #000;
}

.pagination .active a {
  color: #007bff;
}

.center {
  display: flex;
  justify-content: space-around;
}
